Package: com.contejus.sliderchanger
Name: SliderChanger
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Changes lockscreen "Press home to unlock" text. 
Maintainer: contejus
Author: contejus
Section: Tweaks
