Package: com.contejus.sliderchanger
Name: SliderChanger
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Changes lockscreen "Press home to unlock" text. 
Maintainer: contejus
Author: contejus
Section: Tweaks
